.note {
	display:none;
	border: 1px solid red;
	background: url("../images/spacer.gif"); 
	overflow: hidden; 
	position: absolute; 
	z-index: 0;
	cursor: pointer;
}

.notep {
	display: none; 
	background: #eee; 
	font-size: 8pt; 
	margin-top: 0px; 
	padding: 2px;
	position: absolute;
	width: 175px;
	cursor: text;
} 
