<!DOCTYPE html>
<html>
<head>
	<title>Test Report</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css" href="static/css/smartMenu.css" >
	<link rel="stylesheet" type="text/css" href="static/css/imgnotes.css" >

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="static/js/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="static/js/bootstrap.min.js"></script>
	
	<script src="static/js/bootstrap-treeview.js"></script>
	
	<script type="text/javascript" src="static/js/jquery.imgnotes-0.1.js"></script>
	
	<script type="text/javascript" src="static/js/jquery-smartMenu.js"></script>
	
	<script type="text/javascript" src="static/js/layer.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<table class="table table-bordered table-striped bs-events-table">
					  <thead>
						<tr>
						  <th style="width:20%">属性</th>
						  <th style="width:80%">值</th>
						</tr>
					  </thead>
					  <tbody id="nodebody">
						<tr><td>focusable</td><td></td></tr>
						<tr><td>resource-id</td><td></td></tr>
						<tr><td>scrollable</td><td></td></tr>
						<tr><td>long-clickable</td><td></td></tr>
						<tr><td>content-desc</td><td></td></tr>
						<tr><td>text</td><td></td></tr>
						<tr><td>password</td><td></td></tr>
						<tr><td>index</td><td></td></tr>
						<tr><td>class</td><td></td></tr>
						<tr><td>instance</td><td></td></tr>
						<tr><td>focused</td><td></td></tr>
						<tr><td>clickable</td><td></td></tr>
						<tr><td>selected</td><td></td></tr>
						<tr><td>checked</td><td></td></tr>
						<tr><td>checkable</td><td></td></tr>
						<tr><td>package</td><td></td></tr>
						<tr><td>bounds</td><td></td></tr>
						<tr><td>enabled</td><td></td></tr>
						<tr><td>xpath</td><td></td></tr>
					  </tbody>
					</table>
			</div>
			<div class="col-md-3">
				<div class="checkbox" style="margin-left:10px;margin-right:10px">
					<span><a id="goback">返回</a></span><span style="margin:0 auto">
					<a id="gohome">Home</a></span>
				</div>
				<img id="screenshot" src={% if nodeDatas %}"static/images/current.png"{%else%}"static/images/black.png"{% endif %} alt="img" width="432" height="768"/>
			</div>
			<div class="col-md-5">
				<button onclick="$('#nodeTreeView').treeview('expandAll')" class="btn btn-default">Expand All</button>
				<button onclick="$('#nodeTreeView').treeview('collapseAll')" class="btn btn-default">Collapse All</button>
				<div id="nodeTreeView" style="height:300px">
				</div>
			</div>
		</div>
	</div>
	
<script type="text/javascript">
$(function() {
	var nodeData = {{ nodeDatas|tojson|safe }}
	var nodeinfos = {{ nodeinfos|tojson|safe }}
	var frameinfos = {{ frameinfos|safe }}
	var notes = new Array()
	
	layer.config({
		extend: 'extend/layer.ext.js'
	});
	for(var k in frameinfos) {
		notes[k] = frameinfos[k]
	}
	
	$('#screenshot').imgNotes(notes);
	var imageMenuData = [
		[
		{
			text: "点击",
			func: function() {
				$.get("http://10.88.0.40:8088/click/"+this.id,function(data){
					if(!data.status){
						layer.alert(data.info)
					}else{
						window.parent.frames["devicecontainer"].contentWindow.location.reload(true);
					}
				})
			}
		},
		{
			text: "向上滑动",
			func: function() {
				var id = this.id
				layer.prompt({
					title: '输入内容,并确认',
					formType: 0
				}, function(px){
					$.get("http://10.88.0.40:8088/swipe/up",{"id":id,"px":px},function(data){
						if(!data.status){
							layer.alert(data.info)
						}else{
							window.parent.frames["devicecontainer"].contentWindow.location.reload(true);
						}
					})
				});
			}
		},
		{
			text: "向下滑动",
			func: function() {
				var id = this.id
				layer.prompt({
					title: '输入内容,并确认',
					formType: 0
				}, function(px){
					$.get("http://10.88.0.40:8088/swipe/down",{"id":id,"px":px},function(data){
						if(!data.status){
							layer.alert(data.info)
						}else{
							window.parent.frames["devicecontainer"].contentWindow.location.reload(true);
						}
					})
				});
			}
		},
		{
			text: "向左滑动",
			func: function() {
				var id = this.id
				layer.prompt({
					title: '输入内容,并确认',
					formType: 0
				}, function(px){
					$.get("http://10.88.0.40:8088/swipe/left",{"id":id,"px":px},function(data){
						if(!data.status){
							layer.alert(data.info)
						}else{
							window.parent.frames["devicecontainer"].contentWindow.location.reload(true);
						}
					})
				});
			}
		},
		{
			text: "向右滑动",
			func: function() {
				var id = this.id
				layer.prompt({
					title: '输入内容,并确认',
					formType: 0
				}, function(px){
					$.get("http://10.88.0.40:8088/swipe/right",{"id":id,"px":px},function(data){
						if(!data.status){
							layer.alert(data.info)
						}else{
							window.parent.frames["devicecontainer"].contentWindow.location.reload(true);
						}
					})
				});
			}
		},
		{
			text: "输入内容",
			func: function() {
				elem_id = this.id
				layer.prompt({
					title: '输入内容,并确认',
					formType: 0
				}, function(text){
					$.get("http://10.88.0.40:8088/sendtext/"+elem_id,{"text":text},function(data){
						if(!data.status){
							layer.alert("error:"+data.info)
						}else{
							window.parent.frames["devicecontainer"].contentWindow.location.reload(true);
						}
					})
				});
			}
		}
		],
		[
		{
			text: "取消选择",
			func: function() {
				$("#"+this.id).hide()
			}
		}
		]
	];

	$(".note").smartMenu(imageMenuData);
	
	var initSelectableTree = function() {
		return $('#nodeTreeView').treeview({
			data: nodeData,
			showBorder: false,
			showTags: true,
			onNodeSelected: function(event, node) {
				$("#nodebody").empty()
				var id = node.id
				var infos = ['package','enabled','checkable','checked','selected','clickable','focused','instance','password','long-clickable','scrollable','focusable','bounds','xpath','index','text','content-desc','class','resource-id']
				nodeinfo = nodeinfos[id]
				infos.forEach(function(key) {
					$("#nodebody").prepend('<tr><td>'+key+'</td><td><input type="text" value="'+nodeinfo[key]+'" class="form-control"></input></td></tr>')
					$("#"+id).show();
				})
			},
			onNodeUnselected:function(event,node) {
				var id = node.id;
				$("#"+id).hide();
			}
		});
	};
	
	var $selectableTree = initSelectableTree();

	$("#goback").click(function(){
		$.get("http://10.88.0.40:8088/sendkeycode/4",function(data){
			if(!data.status){
				layer.alert("error:"+data.info)
			}else{
				window.parent.frames["devicecontainer"].contentWindow.location.reload(true);
			}
		})
	});

	$("#gohome").click(function(){
		$.get("http://10.88.0.40:8088/sendkeycode/3",function(data){
			if(!data.status){
				layer.alert("error:"+data.info)
			}else{
				window.parent.frames["devicecontainer"].contentWindow.location.reload(true);
			}
		})
	})
});


</script>
</body>
</html>